<table>
	<tr>
		<td>
		<!-- Image of the student -->
		</td>
		<td>
			<table>
				<% @record.properties.each do |key,value| %>
				<tr>
					<td>
						<%= key %>:
					</td>
					<td>
						<%= value %>
					</td>
				</tr>
				<% end %>
			</table>
			<p>
				<%= link_to "Генерирай документ", 
					request.url + '.pdf' 
				%>
			</p>
		</td>
	</tr>	

</table>
