<table class="table table-striped">
	<thead>
		<th>Име</th>
		<th>Описание</th>
	</thead>
	<% @campaigns.each do |c| %>
		<tr>
			<td><%= c.name %></td>
			<td><%= c.description %></td>
			<td><%= link_to "Повече информация", root_url + "campaigns/#{c.id}", :class => "btn btn-primary" %></td>
		</tr>
	<% end %>
</table>

<%= link_to "Нова кампания", root_url + "campaigns/new", :class => "btn btn-primary"%>