<table>
	<thead>
		<th>Име</th>
		<th>Описание</th>
		<th>Изтрии</th>
	</thead>
	<% @campaigns.each do |c| %>
		<td><%= c.name %></td>
		<td><%= c.description %></td>
		<td><%= link_to "Изтрии", "campaigns/#{c.id}" , method:"delete" %></td>
	<% end %>
</table>